@charset "UTF-8";
/*
================================================================================
 _  __     _     _ _    ____  _          _
| |/ _   _| |__ (_| | _|  _ \(___  _____| |
| ' | | | | '_ \| | |/ | |_) | \ \/ / _ | |
| . | |_| | |_) | |   <|  __/| |>  |  __| |
|_|\_\__,_|_.__/|_|_|\_|_|   |_/_/\_\___|_|

================================================================================
[Verifying my OpenPGP key: openpgp4fpr:e8923e0f9c7c84a663a37f850be1a9ae16f417a2]
================================================================================
You can hire me for a job in Switzerland or remote, you can see my contact on
this website.

My skills are:
- PHP, JavaScript, CSS, HTML
- WebGL, Blender, AutoCAD, FreeCAD, BIMserver
- Python, Lisp, Shell, Rust
- MySQL, PostgreSQL
- VB Script (yes I know...)
- Linux (Ubuntu, Debian, Manjaro) admin
================================================================================
*/

@font-face {
  font-family: 'Lobster';
  src: url(../fonts/Lobster-Regular.ttf) format("truetype");
}

/* Background animation */
body {
	max-width: 1020px;
	margin: auto;
  background: linear-gradient(15deg, #2698e6, #e682a7, #f0cd7b, #7db6a7);
  background-size: 800vw 800vh;

  -webkit-animation: background-color 30s ease infinite;
  -moz-animation: background-color 30s ease infinite;
  -o-animation: background-color 30s ease infinite;
  animation: background-color 30s ease infinite;
}
@-webkit-keyframes background-color {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}
@-moz-keyframes background-color {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}
@-o-keyframes background-color {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}
@keyframes background-color {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}

header,
footer {
	background: transparent;
  border: none;
}

footer > p > a > img {
  height: 1em;
}

header h1,
header i.las {
  font-size: 2.5rem;
  color: var(--back-color);
  display: inline-block;
}

header {
  text-shadow: 0 .25rem 0.25rem #777;
}

header > label > i.las {
  cursor: pointer;
}

@media (min-width: 600px) {
  footer > p:not(.badges) {
    display: inline-block;
  }

  footer > p:not(.badges):nth-child(even) {
    text-align: right;
    float: right;
  }
}

hr {
  width: 100%;
  color: var(--back-color);
}

h1 {
  font-family: 'Lobster', cursive;
}

h3 {
  display: inline-block;
}

a:link {
  color: var(--a-visited-color);
}

a:hover,
a:focus {
  color: var(--input-focus-color);
}

button {
  display: inline-block;
}

button:hover {
  background-color: var(--input-focus-color);
}

input[type=text],
textarea {
  border-left: .25rem solid var(--a-visited-color);
  width: 100%;
  font-family: monospace;
}

textarea {
  height: 500px;
  resize: none;
}

ul > li {
  list-style: none;
}

/* Cards */
div:not(.dialog) > .card {
  height: 250px;
	margin: 8px auto;
  justify-content: start;
}

h2#cc ~ div > .card {
  height: 300px;
}

.card img.section:not(.media) {
	max-height: 180px;
	max-width: 180px;
  margin: auto;
}

.card > .section.media {
  height: 300px;
}

/* Dialog MOdal */
div:not(.row) > .card {
  height: auto;
}

div:not(.row) > div.card p.section {
  text-align: center;
  padding: .5rem 0;
}

div:not(.row) > div.card p.section a > span > i {
  font-size: 175%;
  text-align: center;
}

blockquote {
  background-color: var(--card-back-color);
}

code {
  background-color: var(--card-fore-color);
  color: #33ff33;
  border-radius: 5px;
}

canvas#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.card > label {
  padding: 0;
  cursor: pointer;
}

.card.svg {
  border: none;
  background: none;
}

.dlink {
  max-width: 507px;
  height: 167px;;
}

:not(iframe).dlink {
  border: 1px solid #293c5c;
}

:not(iframe).dlink img {
  float: left;
  max-height: 167px;
  border-right: 1px solid #293c5c;
  margin-right: 12px;
}

:not(iframe).dlink a {
  padding: 10px;
  color:#ffffff;
  background-color:#293c5c;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  line-height: 33px;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgba(255,255,255,0.21);
  height: 35px;
}

a.btn-itchio,
a.btn-itchio:link,
a.btn-itchio:focus,
a.btn-itchio:active {
  background-color: #FF2449;
  color: #fff;
  font-weight: bold;
  padding:7px;
  padding-bottom: 4px;
  border-radius: 3px;
  text-decoration: none;
}
a.btn-itchio:hover {
  background-color: #FF3454;
}
a.btn-itchio > i {
  font-size: 1.1em;
}

[type="checkbox"].modal + div .card {
  max-height: 80vh;
}

#dialog-title  {
  height: inherit;
}
